<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <listeners>
        <listener class-name="Sanity.Listeners" />
    </listeners>
    
    <test verbose="2" preserve-order="true" name="Test - validate main page">
        <classes>
            <class name="Sanity.validateMainPage">
                <methods>
                    <include name="verifyCatNumber"/>
                    <include name="verifyLegalNotices"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate side main page">
        <classes>
            <class name="Sanity.validateSideMenuPage"/>
        </classes>
    </test>
</suite>