<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <listeners>
        <listener class-name="Sanity.Listeners" />
    </listeners>
    
    <test verbose="2" preserve-order="true" name="C:/Users/Leonidus/projects/EurosportE2E">
        <classes>
            <class name="Sanity.validateMainPage"/>
        </classes>
    </test>
</suite>