<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <listeners>
        <listener class-name="listeners.Listeners" />
    </listeners>
    

    <test preserve-order="true" name="Test - sanity">
        <classes>
            <class name="testcases.validateMainPageTest">
                <methods>
                    <include name="verifyCatNumber"/>
                    <include name="verifyLegalNotices"/>
                </methods>
            </class>
        </classes>
    </test>


    <test verbose="2" preserve-order="true" name="Test - validate side main page">
        <classes>
            <class name="testcases.validateSideMenuPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Football page">
        <classes>
            <class name="testcases.validateFootballPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Premier League Football page">
        <classes>
            <class name="testcases.validatePremierLeaguePageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Terms and Conditions page">
        <classes>
            <class name="testcases.validateTermsAndConditionsPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Privacy and Policy page">
        <classes>
            <class name="testcases.validatePrivacyPolicyPageTest"/>
        </classes>
    </test>

</suite>