<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <listeners>
        <listener class-name="listeners.Listeners" />
    </listeners>
    

    <test preserve-order="true" name="Test - sanity">
        <classes>
            <class name="testcases.validateMainPageTest">
                <methods>
                    <include name="verifyCatNumber"/>
                    <include name="verifyLegalNotices"/>
                </methods>
            </class>
        </classes>
    </test>


    <test verbose="2" preserve-order="true" name="Test - validate side menu page">
        <classes>
            <class name="testcases.sideMenu.validateSideMenuPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Football page">
        <classes>
            <class name="testcases.validateFootballPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Premier League Football page">
        <classes>
            <class name="testcases.validatePremierLeaguePageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Terms and Conditions page">
        <classes>
            <class name="testcases.sideMenu.validateTermsAndConditionsPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Privacy and Policy page">
        <classes>
            <class name="testcases.sideMenu.validatePrivacyPolicyPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Privacy and Settings page">
        <classes>
            <class name="testcases.sideMenu.validatePrivacySettingsPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Cookie Policy page">
        <classes>
            <class name="testcases.sideMenu.validateCookiePolicyPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Help Page">
        <classes>
            <class name="testcases.sideMenu.validateHelpPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - validate Contact Us Page">
        <classes>
            <class name="testcases.sideMenu.underHelpPage.validateContactUsPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - login Page">
        <classes>
            <class name="testcases.loginPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - live chat Page">
        <classes>
            <class name="testcases.sideMenu.underHelpPage.validateLiveChatPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - discover eurosport Page">
        <classes>
            <class name="testcases.sideMenu.underHelpPage.validateDiscoverEurosportPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - main Page">
        <classes>
            <class name="testcases.validateMainPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - settings and devices Page test">
        <classes>
            <class name="testcases.sideMenu.underHelpPage.validateSettingAndDevicesPageTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test - pass information Page Test">
        <classes>
            <class name="testcases.sideMenu.underHelpPage.validatePassInformationPageTest"/>
        </classes>
    </test>

</suite>